.App-header {
    background-color:#ffffff;
    font-size: calc(10px + 2vmin);
    color: rgb(3, 3, 3);
  }
  
.App-main {
    /* min-height: 95vh;  */
     /* display: flex; */
    align-items: center; 
  }

.App-footer {
    min-height: 5vh; 
  }  

.particle{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:1;
}